p {
	color:#a60000;
}
h1 {
	color:#dea259;
}
 h2 {color:#e3e3e3;
}
 h1 {text-align: center}  
 h1 {font-size:40px}
 h2 {font-size:30px}
 p {font-size:18px }
 body {background-color:#939294;
}
 h1 {font-family:Arial;
}
 h2 {font-family:Courier New;
}
 p {font-family:Trebuchet MS;
}